version: "3.9"

services:
  web:
    build: .
    container_name: haxx616/helloapp-web:latest
    ports:
      - "8000:8000"
    environment:
      - FLASK_ENV=development
    restart: unless-stopped


